status: hidden
template: self

{% extends "base.html" %}

{% block content %}

<h3>El libro</h3>
<p>
  El libro <em>Manual del ciberactivista. Teoría y práctica de las
  acciones
  micropolíticas</em>, <a href="http://bandaaparteeditores.blogspot.com.es/">Bandaàparte
  Editores</a>, estará en sus librerías a partir de finales de mayo de
  2015. Al año de su aparición en papel, se publicará el formato pdf
  de la edición. Licencia Creative Commons By-SA.
</p>
<p>
  El contenido de la obra se halla dividido en dos partes, una primera
  teórica y otra segunda práctica. En la primera parte se intentará
  una explicación analítica del ciberactivismo mientras que la segunda
  se centrará en reflexiones sobre aspectos concretos que pudieran ser
  útiles para quien desee planificar alguna acción.
</p>

<h3>El autor</h3>
<p>
  <a href="http://javierdelacueva.es">Javier de la Cueva</a> (Madrid,
  1962) es licenciado en Derecho y doctor en Filosofía por la
  Universidad Complutense de Madrid. Trabaja como abogado. En sus
  manos ha estado la defensa de numerosos casos relacionados con la
  utilización de licencias libres de propiedad intelectual y de
  diferentes plataformas tecnológicas. Es profesor de las asignaturas
  de Propiedad Intelectual en los estudios de Grado de Creación
  Musical en la Universidad Europea de Madrid y de Information Law:
  Media Regulation en los estudios de Bachelor in Communication de la
  IE University. Además de su trabajo como abogado, se dedica en la
  actualidad a programar diversos proyectos tecnológicos, a impartir
  conferencias y a escribir obras sobre su especialización. Es usuario
  de GNU/Linux desde 1998 y administrador de sistemas bajo dicho
  sistema operativo desde 2003. Escribe sus scripts en Python y
  disfruta con la notación n3 para modelar ontologías de la web
  semántica.
</p>

<h3>A quién y a quién no va dirigido este libro</h3>
<p>
  En principio, este libro va dirigido a cualquier persona. Tal y como
  se señalará en el ensayo, el ciberactivismo (y por ende lo que en la
  obra se definen como acciones micropolíticas) tiene unos fines que
  pueden ir, por ejemplo, desde la exigencia de la implantación de
  pasos cebras para evitar los peligros de un cruce de peatones al
  rechazo de la política estatal de viviendas. Así pues, se dirige a
  toda persona que esté interesada en el uso de la web como
  herramienta para un ejercicio público de sus derechos.
</p>
<p>
  A quien no se dirige esta obra es a quienes pretendan un curso de
  comunicación en línea, de gestor de comunidades de redes sociales
  (community manager) o a quienes pretendan la mejora de sistemas de
  marketing. Se parte de que la comunicación mediática no es un fin en
  sí mismo, sino que es una circunstancia que en estos casos puede o
  no producirse.
</p>
<p>
  Es más, la notoriedad mediática por sí misma puede incluso ser
  contraproducente ya que hay actividades que han de hacerse con la
  menor notoriedad posible. Un ejemplo histórico lo tendríamos en la
  Resistencia Francesa, donde hubiera sido un suicidio querer salir en
  los medios de comunicación atribuyéndose los atentados. No se trata
  tampoco de proponer la realización de actividades en la sombra, sino
  de reivindicar que lo más importante no es lo más notorio y que lo
  que ha de guiar el tiempo dedicado a acciones ciberactivistas es la
  búsqueda de la eficacia y no de lo mediático.
</p>

<h3 id="agradecimientos">Agradecimientos</h3>
<p>
  En primer lugar, los agradecimientos de este libro deben ir a
  cuantos participaron en
  la <a href="http://derecho-internet.org/canon">Demanda contra el
  canon</a> en los soportes digitales puesto que sin ellos no se
  hubieran producido los hechos sobre los que luego poder reflexionar.
  Su participación supuso una corriente de aire fresco ya que, ante la
  infracción de un derecho, hicieron lo que debe hacerse: recurrir a
  los tribunales y no sólo quedarse en campañas mediáticas o
  vociferadoras protestas.
</p>
<p>
  En segundo lugar, es necesario mostrar el agradecimiento a las
  personas que revisaron pacientemente la primera versión de este
  texto y aportaron comentarios y consejos sobre su contenido. Dada su
  singularidad, en la que se mezclan variadas disciplinas, se
  consideró conveniente que la obra fuera revisada por un grupo de
  personas, dispar de formación, cuyo criterio se tiene en muy alta
  estima. La petición iba acompañada de una exigencia de premura en la
  respuesta que impidió pedir este envenenado favor a otras personas
  cuyo criterio se valora igualmente. Las críticas y comentarios
  recibidos han servido para enriquecer el texto bajo todos los puntos
  de vista: aspectos formales, aportación de novedosos ejemplos,
  concreción de datos, estilo de redacción, ritmos de lectura,
  transiciones entre conceptos... Parte de la autoría de esta obra es
  por tanto suya.
</p>
<p>
  Las personas con las que se tiene esta especial deuda son Andoni
  Alonso, Iñaki Arzoz, Eva Belmonte, Florencio Cabello, David Cabo,
  Javier Candeira, Marcos García, Stéphane M. Grueso, Alejandro
  Herrera, Antonio Lafuente, Estela Mateo, José María Mateos, Helena
  Nadal, Ana Romero Sire, Vicente Ruiz Jurado, Iván Sánchez Ortega y
  Eduardo Serrano. Las aportaciones que se desean destacar son las
  siguientes:
</p>
<p>
  <b>Andoni Alonso Puelles</b>, además de sus comentarios sobre el
  contenido y los aspectos formales, recordó el excesivo uso del
  gerundio hecho por quienes están inmersos diariamente en el lenguaje
  jurídico o administrativo. Inmediatamente hubo que darle la razón
  mientras se recordaban aquellos Resultandos y Considerandos que
  conformaban las diferentes partes de una resolución judicial.
</p>
<p>
  <b>Iñaki Arzoz</b> planteó la necesidad de suavizar ciertos
  conceptos y de aportar en el texto reflexiones sobre aspectos éticos
  y de contexto histórico sobre el ciberactivismo, además de hacer ver
  algún error.
</p>
<p>
  <b>Eva Belmonte</b> fue la causante de que se moderara la parte
  relacionada con los aspectos mediáticos, reflexionando sobre el
  papel de las noticias y de los medios de comunicación en la creación
  de un entorno digital, al aportar que el punto de mira del
  informador pudiera ser más rico desde un punto de vista no
  participativo.
</p>
<p>
  <b>Florencio Cabello</b>, además de sus comentarios sobre aspectos
  formales, planteó entre otras cuestiones la conveniencia de
  delimitar más atinadamente la relación entre las TIC y las acciones
  micropolíticas e hizo apuntes sobre las recientes aportaciones de
  Benkler al concepto del procomún.
</p>
<p>
  <b>David Cabo</b> descubrió errores en el contenido y enmendó
  desórdenes en algunos ejemplos, para concordarlos así desde la menor
  a la mayor abstracción. Señaló aquellas partes que pudieran tener
  una lectura más difícil, lo que motivó que fueran repasadas.
</p>
<p>
  <b>Javier Candeira</b>, sin perjuicio de señalar varias
  modificaciones formales que han facilitado la labor de lectura del
  texto, puso en duda varias de las afirmaciones contenidas en el
  texto sobre aspectos políticos que obligaron a repensarlos y
  formularlos de una manera más adecuada. A él se le debe una
  reformulación de la explicación sobre la capacidad instituyente de
  los ciudadanos.
</p>
<p>
  <b>Stéphane M. Grueso</b>, además de ofrecer una visión
  pormenorizada de los puntos a su entender relevantes, hizo ver dos
  aspectos del texto que podían ser fácilmente mejorados, precisando
  los sistemas organizativos y el alojamiento de la web de la acción.
</p>
<p>
  <b>Estela Mateo</b> aportó la reflexión sobre la conveniencia de
  utilizar el término hacker a pesar del maltrato que su significado
  ha sufrido por los medios de comunicación, habiendo sido muy útil su
  indicación de la evolución que han seguido los círculos del partido
  político Podemos desde su inicial organización descentralizada.
</p>
<p>
  <b>José María Mateos</b> sugirió entre otras observaciones unos
  inspiradores artículos sobre aspectos éticos de robots y de drones.
  También indicó excelentes ejemplos de las consecuencias de alojar la
  información en un determinado servicio (suyo es el ejemplo de la
  pérdida de comentarios del Manifestómetro) y de un mal uso de la
  criptografía.
</p>
<p>
  <b>Helena Nadal Sánchez</b> enriqueció los requisitos de la acción
  micropolítica del texto inicial. De la conversación con ella surge
  la incorporación de la conciencia política de quienes impulsan la
  acción y la necesidad de separar conceptualmente este tipo de
  acciones de aquellas otras cuyo ámbito no es el político sino el de
  la defensa de consumidores y usuarios.
</p>
<p>
  <b>Ana Romero Sire</b>, desde la perspectiva de la teoría de los
  actos de habla, planteó la posibilidad de la existencia de acciones
  micropolíticas aleatorias o fallidas y el interés que pudieran tener
  para ahondar tanto en lo que una acción micropolítica es como en lo
  que no es.
</p>
<p>
  <b>Vicente Ruiz Jurado</b> identificó los conceptos no triviales que
  en la redacción inicial se daban por conocidos; gracias a él existen
  explicaciones sobre un hack, sobre el kernel, así como los cambios
  que hubo de hacerse en el texto para alterar el orden entre la
  primera aparición de los conceptos y las explicaciones acerca los
  mismos.
</p>
<p>
  <b>Iván Sánchez Ortega</b> realizó una crítica exhaustiva de la
  parte práctica, llena de matices que han permitido afinar la
  terminología técnica y depurar conceptos no excesivamente
  delimitados, a la par que aportaba expresivos ejemplos en apoyo de
  sus afirmaciones como el de la visualización de los diagramas de las
  recetas de cocina. Su crítica a la estructura de la parte práctica
  fue el origen de la actual disposición de las ideas de la segunda
  parte de esta obra.
<p>
  <b>Eduardo Serrano</b> contribuyó a que en el texto exista una mejor
  diferencia conceptual entre los términos proceso y procedimiento, un
  mayor rigor en el tratamiento de los conceptos de Estado, polis y
  procomún y una mejora de la sintaxis y de los ejemplos.
<p>
  Y si el plantel de revisores del texto constituye un equipo de lujo,
  no podemos olvidar a los editores <b>Antonio de Egipto y Marga
  Suárez</b>, agradeciéndoles tanto la paciencia que han demostrado en
  la espera de esta obra como su iniciativa editorial. Sin su
  insistencia personal y sin el modelo editorial que practican, en el
  que no puede entenderse el libro como un producto que se consume,
  esta obra nunca hubiera visto la luz pública.
</p>
<h3>Licencia de la web</h3>
<p>
  <a rel="license"
   href="http://creativecommons.org/licenses/by-sa/3.0/es/deed.es_ES">
    <img alt="Licencia de Creative Commons" style="border-width:0"
         src="/img/by-sa.png" /></a><br />La
  web <span xmlns:dct="http://purl.org/dc/terms/"
            property="dct:title">manualdelciberactivista.org</span>,
  por <a xmlns:cc="http://creativecommons.org/ns#"
         href="http://javierdelacueva.es" property="cc:attributionName"
         rel="cc:attributionURL">Javier de la Cueva</a>, está licenciada
  bajo una licencia <a rel="license"
          href="http://creativecommons.org/licenses/by-sa/3.0/es/deed.es_ES">Creative
    Commons Reconocimiento Compartir igual 3.0 España</a>.
</p>
{% endblock %}
