title: Manual del Ciberactivista
template: self

{% extends "base.html" %}

{% block content %}

<img class="left" height="561" src="/img/portada.png" width="400" alt="Portada del
     libro" id="portada" title="Portada del libro">

<h3 id="calendario">Calendario</h3>
<p>
  Ningún evento programado. Se anunciarán oportunamente a medida que
  se planifiquen.
</p>
<h3 id="el-libro">El libro</h3>
<p>
  <a href="http://manualdelciberactivista.org/archivos/2015-06-16_manual-del-ciberactivista_dossier-prensa.pdf">Dossier
  de prensa</a>.
</p>
<p>
  El libro <em>Manual del ciberactivista. Teoría y práctica de las
  acciones
  micropolíticas</em>, <a href="http://bandaaparteeditores.com/">Bandaàparte
  Editores</a>, está en sus librerías desde finales de mayo de 2015.
  Al año de su aparición en papel, se publicará en esta web el formato
  pdf de la edición bajo licencia Creative Commons By-SA.
</p>
<p>
  Puede descargar
  el <a href="/archivos/2015-05-14_introduccion_manualdelciberactivista.pdf">índice,
  el prefacio y la introducción</a> de la obra
  y <a href="/archivos/2015-05-14_referencias_manualdelciberactivista.pdf">las
  referencias</a> incluidas en la misma.
</p>
<p>
  El contenido de la obra se halla dividido en dos partes, una primera
  teórica y otra segunda práctica. En la primera parte se realiza una
  explicación analítica del ciberactivismo mientras que la segunda se
  centra en reflexiones sobre aspectos concretos que pudieran ser
  útiles para quien desee planificar alguna acción.
</p>

<h3 id="el-autor">El autor</h3>
<p>
  <a href="http://javierdelacueva.es">Javier de la Cueva</a> (Madrid,
  1962) es licenciado en Derecho y doctor en Filosofía por la
  Universidad Complutense de Madrid. Trabaja como abogado. En sus
  manos ha estado la defensa de numerosos casos relacionados con la
  utilización de licencias de propiedad intelectual libre y de
  diferentes plataformas tecnológicas. Es profesor de las asignaturas
  de «Propiedad Intelectual» en los estudios de Grado de Creación
  Musical en la Universidad Europea de Madrid y de «Information Law:
  Media Regulation» en los estudios de <em>Bachelor in
  Communication</em> de la IE University. Además de su trabajo como
  abogado, se dedica en la actualidad a programar diversos proyectos
  tecnológicos, a impartir conferencias y a escribir obras sobre su
  especialización. Es usuario de GNU/Linux desde 1998 y administrador
  de sistemas bajo dicho sistema operativo desde 2003. Escribe sus
  scripts en Python y disfruta con la notación n3 para modelar
  ontologías de la web semántica.
</p>

<h3 id="la-editorial">La editorial</h3>
<p>
  Bandaàparte Editores es una editorial independiente andaluza, nacida
  en octubre de 2012, que da cabida en su catálogo a lo que llaman "no
  escritores", creadores que aun viniendo de disciplinas diferentes a
  la escritura encuentran en este medio una forma más de canalizar sus
  inquietudes. Todo esto lo hacen en torno a 4 colecciones (Narrativa,
  Poesía, Gráfica y Ensayo). Entre sus autores encontrará músicos,
  gente del cine, del mundo de la tecnología, periodistas, artistas
  plásticos, visuales, sonoros... Su imagen es reforzada por un
  cuidado trabajo de edición.
</p>
<p>
  Tiene más información
  en <a href="http://www.bandaaparteeditores.com">Bandaàparte Editores</a>.
</p>

<h3 id="a-quien-y-a-quien-no-va-dirigido">A quién y a quién no va dirigido este libro</h3>
<p>
  En principio, este libro va dirigido a cualquier persona. Tal y como
  se señalará en el ensayo, el ciberactivismo (y por ende lo que en la
  obra se definen como acciones micropolíticas) tiene unos fines que
  pueden ir, por ejemplo, desde la exigencia de la implantación de
  pasos cebras para evitar los peligros de un cruce de peatones al
  rechazo de la política estatal de viviendas. Así pues, se dirige a
  toda persona que esté interesada en el uso de la web como
  herramienta para un ejercicio público de sus derechos.
</p>
<p>
  A quien no se dirige esta obra es a quienes pretendan un curso de
  comunicación en línea, de gestor de comunidades de redes sociales
  (community manager) o a quienes pretendan la mejora de sistemas de
  marketing. Se parte de que la comunicación mediática no es un fin en
  sí mismo, sino que es una circunstancia que en estos casos puede o
  no producirse.
</p>
<p>
  Es más, la notoriedad mediática por sí misma puede incluso ser
  contraproducente ya que hay actividades que han de hacerse con la
  menor notoriedad posible. Un ejemplo histórico lo tendríamos en la
  Resistencia Francesa, donde hubiera sido un suicidio querer salir en
  los medios de comunicación atribuyéndose los atentados. No se trata
  tampoco de proponer la realización de actividades en la sombra, sino
  de reivindicar que lo más importante no es lo más notorio y que lo
  que ha de guiar el tiempo dedicado a acciones ciberactivistas es la
  búsqueda de la eficacia y no de lo mediático.
</p>

<h3>Licencia de la web</h3>
<p>
  <a rel="license"
   href="http://creativecommons.org/licenses/by-sa/3.0/es/deed.es_ES">
    <img alt="Licencia de Creative Commons" style="border-width:0"
         src="/img/by-sa.png" /></a><br />La
  web <span xmlns:dct="http://purl.org/dc/terms/"
            property="dct:title">manualdelciberactivista.org</span>,
  por <a xmlns:cc="http://creativecommons.org/ns#"
         href="http://javierdelacueva.es" property="cc:attributionName"
         rel="cc:attributionURL">Javier de la Cueva</a>, está licenciada
  bajo una licencia <a rel="license"
          href="http://creativecommons.org/licenses/by-sa/3.0/es/deed.es_ES">Creative
    Commons Reconocimiento Compartir igual 3.0 España</a>.
</p>
{% endblock %}
